@use "../components/colors" as *;
@use "../components/mixins" as *;
html {
  font-size: 62.5% !important;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  @include gradient;
  @media only screen and (max-width: 577px) {
    background: $secondary-custom;
  }
}
