@use "../components/colors" as *;

main {
  padding-top: 5rem;
  @media only screen and (max-width: 575px) {
    padding-top: 1rem;
  }
  height: 70rem;

  > div {
    @media only screen and (max-width: 720px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .left-side {
      background: rgb($primary-custom, 0.5);
      border-radius: 2rem;
      padding: 1rem;

      color: $yellow-custom;
    }
    .small-device-custom {
      @media only screen and (max-width: 575px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .playground {
      width: 35rem;
      @media only screen and (max-width: 575px) {
        width: 30rem;
      }

      .tiles {
        font-size: 5rem !important;

        margin: 1rem 0.5rem 0.5rem 1rem !important;

        width: 10rem;
        height: 10rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        @media only screen and (max-width: 575px) {
          width: 8rem;
          height: 8rem;
        }
      }
    }
    .control {
      margin-top: 2rem;
      margin-left: 15rem;
      @media only screen and (max-width: 575px) {
        margin-left: 0;
      }
      i {
        font-size: 5rem;
        color: $yellow-custom;
      }
    }
  }
}
