@use "../components/mixins" as *;
@use "../components/colors" as *;

header nav .nav-bar {
  .logo {
    max-width: 15rem;

    img {
      width: 10rem;
      @media only screen and (max-width: 575px) {
        width: 5rem;
      }
    }
    h3 {
      color: $yellow-custom;
    }
  }
}
