@use "../colors.scss" as *;
@use "../components/mixins" as *;
body {
  min-height: 100vh;
  background-color: $white;
  transition: background-color 0.2s linear;
}
body.active {
  background: #2b2b2b;
  transition: background-color 0.2s linear;
  color: #005bc4;
  button {
    background-color: #005bc4;
    color: white;
  }
}
